<!DOCTYPE html>
<html lang="en">
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">

<head th:include="fragment/head :: head">
    <style>
        body {
            padding: 15px;
            font-family: Arial, sans-serif;
        }
        .card {
            margin-bottom: 1rem;
        }
        .card-header {
            background-color: #ffc107; /* Màu warning chủ đạo */
            color: white;
            font-size: 0.875rem;
            padding: 0.5rem 1rem;
        }
        .form-control, .form-check-input {
            font-size: 0.75rem;
            padding: 0.25rem;
        }
        .form-row .form-group {
            margin-bottom: 0.5rem;
        }
        .form-row .form-group label {
            font-size: 0.75rem;
            margin-bottom: 0.25rem;
        }
        .form-row .form-group input, .form-row .form-group select {
            font-size: 0.75rem;
            padding: 0.25rem;
        }
        .table th {
            background-color: #007bff;
            color: white;
            font-size: 0.75rem;
        }
        .table td, .table th {
            vertical-align: middle;
            font-size: 0.75rem;
        }
        .pagination {
            justify-content: center;
            font-size: 0.75rem;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            font-size: 0.75rem;
            padding: 0.25rem 0.5rem;
        }
        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
        .pagination .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
        }
        .pagination .page-link {
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
        }
        .alert-info {
            font-size: 0.875rem;
            border-radius: 0.25rem;
        }
        .alert .font-weight-bold {
            font-size: 1.125rem;
        }

        .alert {
            border: 1px solid red;
            background-color: #f8d7da;
            color: #721c24;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
        }
    </style>
    <title>
    </title>
</head>

<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar">
    </div>
    <div th:include="fragment/sidebar :: sidebar">
    </div>
    <!-- Hiển thị tổng số phòng đang hoạt động -->
    <main class="main-content" role="main">
        <div class="container-fluid">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Tổng số phòng đang hoạt động:</strong>
                <span class="ml-2 font-weight-bold" th:text="${totalActivePhongs}">
          </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${successMessage}">
                <div class="alert alert-success" th:text="${successMessage}">
                </div>
            </div>
            <!-- Form thêm phòng -->
            <div class="card ">
                <div class="card-body">
                    <div class="toolbar row mb-3 mt-3">
                        <div class="col-md-12">
                            <form class="form-inline" id="filterForm" style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                                <!-- Search -->
                                <div class="form-group" style="flex-grow: 1; display: flex; align-items: center;">
                                    <label class="mr-2" for="search">Tìm kiếm</label>
                                    <input class="form-control" id="search" oninput="searchPhong(this.value)" placeholder="Tìm kiếm theo mã hoặc tên" style="flex-grow: 1;" type="text">
                                </div>
                                <!-- Dropdown -->
                                <!-- Reset Button -->
                                <div class="form-group" style="flex-grow: 1; display: flex; align-items: center;">
                                    <a th:href="@{phongs}" class="btn btn-warning">Reset</a>
                                </div>
                                <!-- Add Button -->
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addModal" style="width: 100px;" data-whatever="@mdo">Tạo
                                    <span class="fe fe-plus">
                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 10px">
                <h2 class=" text-warning">
                    <i class="fa fa-battery-empty"></i>
                    <span th:text="${totalInactivePhongs1}">
            </span>
                </h2>
            </div>
            <!-- Danh sách phòng -->
            <div class="card shadow mt-1">
                <div class="card-header">Danh Sách Phòng</div>
                <div class="card-body p-2">
                    <!-- Lọc loại phòng và tình trạng -->
                    <form method="get" action="#">
                        <div class="form-row mb-2">
                            <div class="form-group col-md-6">
                                <label for="filterLoaiPhong">Lọc theo loại phòng:</label>
                                <select id="filterLoaiPhong" name="loaiPhongId" class="form-control form-control-sm" onchange="this.form.submit()">
                                    <option value="">Tất cả</option>
                                    <option th:each="loaiPhong : ${loaiPhongs}" th:value="${loaiPhong.idLoaiPhong}" th:selected="${selectedLoaiPhong == loaiPhong.idLoaiPhong}">
                      <span th:text="${loaiPhong.tenLoaiPhong}">
                      </span>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="filterTinhTrang">Lọc theo tình trạng:</label>
                                <select id="filterTinhTrang" name="tinhTrang" class="form-control form-control-sm" onchange="this.form.submit()">
                                    <option value="">Tất cả</option>
                                    <option value="true" th:selected="${selectedTinhTrang == 'true'}">Đang hoạt động</option>
                                    <option value="false" th:selected="${selectedTinhTrang == 'false'}">Ngừng hoạt động</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-sm" style="font-size: 0.95em;">
                        <thead>
                        <tr>
                            <th class="text-center">Mã</th>
                            <th class="text-center">Tên Phòng</th>
                            <th class="text-center">Diện Tích</th>
                            <th class="text-center">Tầng</th>
                            <th class="text-center">Giá</th>
                            <th class="text-center">Mô Tả</th>
                            <th class="text-center">Loại Phòng</th>
                            <th class="text-center">Trạng Thái</th>
                            <th class="text-center">Tình Trạng</th>
                            <th class="text-center">Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        <tr th:each="phong : ${phongs}" data-id-phong="${phong.idPhong}" data-ma-phong="${phong.maPhong}" data-ten-phong="${phong.tenPhong}" data-tinh-trang="${phong.tinhTrang ? 'true' : 'false'}" data-mo-ta="${phong.moTa}" data-loai-phong="${phong.loaiPhong.idLoaiPhong}" onclick="populateForm(this)">
                            <!-- Mã -->
                            <td class="text-center" th:text="${phong.maPhong}">
                            </td>
                            <!-- Tên Phòng -->
                            <td class="text-left" th:text="${phong.tenPhong}">
                            </td>
                            <!-- Diện Tích -->
                            <td class="text-center" th:text="${phong.dienTich.tenDienTich}">
                            </td>
                            <!-- Tầng -->
                            <td class="text-center" th:text="${phong.tang.tenTang}">
                            </td>
                            <!-- Giá -->
                            <td class="text-right" th:text="${phong.gia}">
                            </td>
                            <!-- Mô Tả -->
                            <td class="text-left" th:text="${phong.moTa}">
                            </td>
                            <!-- Loại Phòng -->
                            <td class="text-center" th:text="${phong.loaiPhong.tenLoaiPhong}">
                            </td>
                            <!-- Trạng Thái -->
                            <td class="text-center" th:text="${phong.trangThai ? 'Còn Phòng' : 'Hết Phòng'}">
                            </td>
<!--                             Tình Trạng -->
                            <td class="text-center" th:text="${phong.tinhTrang ? 'Đang hoạt động' : 'Ngừng hoạt động'}"></td>
                            <td class="text-center ">
                                <!-- Nút sửa -->
                                <a th:href="@{/phongs/edit/{id}(id=${phong.idPhong})}">
                                    <button class="btn mb-2 mr-1 btn-outline-warning" type="button">
                                        <i class='fas fa-pen-alt'></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--Phân Trang-->
                    <nav class="d-flex justify-content-center ">
                        <ul class="pagination pagination-sm">
                            <!-- Previous Page -->
                            <li th:if="${currentPage > 0}" class="page-item">
                                <a class="page-link" th:href="@{/phongs(page=${currentPage - 1}, loaiPhongId=${selectedLoaiPhong}, tinhTrang=${selectedTinhTrang})}" aria-label="Previous">&laquo;</a>
                            </li>
                            <!-- Page Numbers -->
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                                <a class="page-link" th:href="@{/phongs(page=${i}, loaiPhongId=${selectedLoaiPhong}, tinhTrang=${selectedTinhTrang})}" th:text="${i + 1}"></a>
                            </li>
                            <!-- Next Page -->
                            <li th:if="${currentPage < totalPages - 1}" class="page-item">
                                <a class="page-link" th:href="@{/phongs(page=${currentPage + 1}, loaiPhongId=${selectedLoaiPhong}, tinhTrang=${selectedTinhTrang})}" aria-label="Next">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Modal chi tiết phòng -->
            <div class="modal fade" id="chiTietPhongModal" tabindex="-1" role="dialog" aria-labelledby="chiTietPhongModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="chiTietPhongModalLabel">Chi tiết phòng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped table-bordered table-sm">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                    <th>Tình trạng</th>
                                    <th>Tầng</th>
                                    <th>Diện tích</th>
                                </tr>
                                </thead>
                                <tbody id="chiTietPhongTableBody">
                                <!-- Dữ liệu chi tiết phòng sẽ được thêm vào qua JavaScript -->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="addModalLabel">Tạo Phòng Mới</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/phongs/save" id="addForm" method="post">
                            <input type="hidden" id="idPhong" name="idPhong" th:value="${phong.idPhong}" />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="maPhong">Mã Phòng</label>
                                    <input type="text" id="maPhong" name="maPhong" class="form-control" onchange="checkMaPhong()" th:value="${phong.maPhong}" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tenPhong">Tên Phòng</label>
                                    <input type="text" id="tenPhong" name="tenPhong" class="form-control" th:value="${phong.tenPhong}" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Tình Trạng</label>
                                    <div class="form-check">
                                        <input type="radio" id="tinhTrang1" name="tinhTrang" value="true" class="form-check-input" th:checked="${phong.tinhTrang == true}" />
                                        <label class="form-check-label" for="tinhTrang1">Đang hoạt động</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="tinhTrang2" name="tinhTrang" value="false" class="form-check-input" th:checked="${phong.tinhTrang == false}" />
                                        <label class="form-check-label" for="tinhTrang2">Ngừng hoạt động</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="moTa">Mô Tả</label>
                                    <textarea id="moTa" name="moTa" class="form-control" th:text="${phong.moTa}" required>
                    </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Trạng Thái</label>
                                    <div class="form-check">
                                        <input type="radio" id="trangThai1" name="trangThai" value="true" class="form-check-input" th:checked="${phong.trangThai == true}" />
                                        <label class="form-check-label" for="trangThai1">Còn Phòng</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" id="trangThai2" name="trangThai" value="false" class="form-check-input" th:checked="${phong.trangThai == false}" />
                                        <label class="form-check-label" for="trangThai2">Hết Phòng</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="gia">Giá</label>
                                    <select id="gia" name="gia" class="form-control" required>
                                        <option value="300000">300,000 VNĐ</option>
                                        <option value="400000">500,000 VNĐ</option>
                                        <option value="700000">700,000 VNĐ</option>
                                        <option value="1400000">1,400,000 VNĐ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <!-- Tầng (Floor) -->
                                <div class="form-group col-md-6">
                                    <label for="idTang">Tầng</label>
                                    <div class="d-flex">
                                        <select id="idTang" name="tang.idTang" class="form-control" required>
                                            <option th:each="tang : ${tangs}" th:value="${tang.idTang}" th:selected="${phong.tang != null && phong.tang.idTang == tang.idTang}">
                          <span th:text="${tang.tenTang}">
                          </span>
                                            </option>
                                        </select>
                                        <!-- Button to add new Tầng -->
                                        <button type="button" class="btn btn-secondary ml-2" onclick="addTang()">+</button>
                                    </div>
                                </div>
                                <!-- Diện Tích (Area) -->
                                <div class="form-group col-md-6">
                                    <label for="idDienTich">Diện Tích</label>
                                    <div class="d-flex">
                                        <select id="idDienTich" name="dienTich.idDienTich" class="form-control" required>
                                            <option th:each="dientich : ${dienTichs}" th:value="${dientich.idDienTich}" th:selected="${phong.dienTich != null && phong.dienTich.idDienTich == dientich.idDienTich}">
                          <span th:text="${dientich.tenDienTich}">
                          </span>
                                            </option>
                                        </select>
                                        <!-- Button to add new Diện Tích -->
                                        <button type="button" class="btn btn-secondary ml-2" onclick="addDienTich()">+</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Nhập Tầng -->
                            <div class="modal fade" id="tangModal" tabindex="-1" role="dialog" aria-labelledby="tangModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="tangModalLabel">Nhập tầng mới:</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" id="newTangInput" class="form-control" placeholder="Nhập tầng mới">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                            <button type="button" class="btn btn-primary" id="saveTangButton">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Nhập Diện Tích -->
                            <div class="modal fade" id="dienTichModal" tabindex="-1" role="dialog" aria-labelledby="dienTichModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="dienTichModalLabel">Nhập diện tích mới:</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" id="newDienTichInput" class="form-control" placeholder="Nhập diện tích mới">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                            <button type="button" class="btn btn-primary" id="saveDienTichButton">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" name="action" value="create" class="btn btn-warning">Tạo</button>
                                <button type="reset" class="btn btn-outline-warning">
                                    <i class='fas fa-sync-alt'></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div th:include="fragment/script :: script">
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    function openChiTietPhongModal(idPhong) {
        fetch(`/phongs/${idPhong}/chitiet`)
            .then(response => response.json())
            .then(data => {
                let tableBody = document.getElementById('chiTietPhongTableBody');
                tableBody.innerHTML = '';
                data.forEach(item => {
                    let row = `<tr>
                    <td>${item.idChiTietPhong}</td>
                    <td>${item.soLuong}</td>
                    <td>${item.gia}</td>
                    <td>${item.trangThai ? 'Có' : 'Không'}</td>
                    <td>${item.tang.tenTang}</td>
                    <td>${item.dienTich.dienTich}</td>
                </tr>`;
                    tableBody.innerHTML += row;
                });
            })
            .catch(error => console.error('Error:', error));
    }

    document.getElementById('maPhong').addEventListener('blur', function() {
        const maPhong = this.value;

        fetch(`/api/phongs/check-ma-phong?maPhong=${maPhong}`)
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    alert("Mã phòng đã tồn tại. Vui lòng nhập mã khác.");
                    document.getElementById('maPhong').classList.add('is-invalid');
                } else {
                    document.getElementById('maPhong').classList.remove('is-invalid');
                }
            });
    });

    function checkMaPhong() {
        var maPhong = document.getElementById("maPhong").value;
        fetch('/phongs/checkMaPhong?maPhong=' + maPhong)
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    // Hiển thị thông báo lỗi
                    alert("Mã phòng đã tồn tại!");

                    // Xóa giá trị trong trường mã phòng
                    document.getElementById("maPhong").value = "";

                    // Đặt focus vào trường mã phòng
                    document.getElementById("maPhong").focus();
                }
            })
            .catch(error => console.error("Lỗi khi kiểm tra mã phòng:", error));
    }

    fetch('/api/phong/countAvailableActiveRooms')
        .then(response => response.json())
        .then(data => {
            document.getElementById('availableActiveRoomsCount').textContent = data;
        })
        .catch(error => {
            console.error('Error fetching available active rooms count:', error);
        });

    function addTang() {
        const tangModal = new bootstrap.Modal(document.getElementById('tangModal'));
        tangModal.show();

        document.getElementById('saveTangButton').onclick = function() {
            const newTang = document.getElementById('newTangInput').value;
            if (newTang) {
                axios.post('/phongs/save-tang', { tenTang: newTang })
                    .then(response => {
                        const newTangOption = `<option value="${response.data.idTang}" selected>${newTang}</option>`;
                        const tangSelect = document.getElementById('idTang');
                        tangSelect.insertAdjacentHTML('beforeend', newTangOption);
                        alert('Tầng mới đã được thêm thành công.');
                        tangModal.hide();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Không thể thêm tầng mới.');
                    });
            } else {
                alert("Vui lòng nhập tầng.");
            }
        };
    }

    function addDienTich() {
        const dienTichModal = new bootstrap.Modal(document.getElementById('dienTichModal'));
        dienTichModal.show();

        document.getElementById('saveDienTichButton').onclick = function() {
            const newDienTich = document.getElementById('newDienTichInput').value;
            if (newDienTich) {
                axios.post('/phongs/save-dien-tich', { tenDienTich: newDienTich })
                    .then(response => {
                        const newDienTichOption = `<option value="${response.data.idDienTich}" selected>${newDienTich}</option>`;
                        const dienTichSelect = document.getElementById('idDienTich');
                        dienTichSelect.insertAdjacentHTML('beforeend', newDienTichOption);
                        alert('Diện tích mới đã được thêm thành công.');
                        dienTichModal.hide();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Không thể thêm diện tích mới.');
                    });
            } else {
                alert("Vui lòng nhập diện tích.");
            }
        };
    }


    async function searchPhong() {
        const searchQuery = document.getElementById('search').value.trim();

        // Kiểm tra nếu ô tìm kiếm trống
        if (!searchQuery) {
            console.log('Vui lòng nhập từ khóa tìm kiếm');
            return;
        }

        console.log(searchQuery); // Debug: log giá trị searchQuery để kiểm tra

        try {
            const response = await fetch('/phongs/search?query=' + encodeURIComponent(searchQuery), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            updateTableBody(data); // Gọi hàm cập nhật bảng dữ liệu với dữ liệu trả về từ server
        } catch (error) {
            console.error('Error fetching search results:', error);
            alert('Không thể tìm kiếm, vui lòng thử lại sau.');
        }
    }

    function updateTableBody(data) {
        const tableBody = document.getElementById('tableBody'); // Đảm bảo ID này khớp với phần tử trong HTML của bạn

        // Xóa nội dung hiện tại của bảng
        tableBody.innerHTML = '';

        // Kiểm tra nếu không có dữ liệu
        if (data.length === 0) {
            tableBody.innerHTML = '<tr><td colspan="10">Không tìm thấy kết quả.</td></tr>';
            return;
        }

        // Duyệt qua các kết quả tìm kiếm và thêm các hàng mới vào bảng
        data.forEach((phong, index) => {
            const row = document.createElement('tr');

            row.innerHTML = `
            <td>${phong.maPhong || ''}</td>
            <td>${phong.tenPhong || ''}</td>
            <td>${phong.tenDienTich || ''}</td>
            <td>${phong.tenTang || ''}</td>
            <td>${phong.gia || ''}</td>
            <td>${phong.moTa || ''}</td>
            <td>${phong.tenLoaiPhong || ''}</td>
            <td>${phong.trangThai ? 'Còn Phòng' : 'Hết Phòng'}</td>
            <td>${phong.tinhTrang ? 'Đang hoạt động' : 'Ngừng hoạt động'}</td>
            <td class="text-center">
                <!-- Nút sửa -->
                <a href="/phongs/edit/${phong.idPhong}">
                    <button class="btn mb-2 mr-1 btn-outline-warning" type="button">
                        <i class='fas fa-pen-alt'></i>
                    </button>
                </a>
            </td>
        `;

            tableBody.appendChild(row);
        });
    }

</script>
</body>

</html>