
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:th="http://www.thymleaf.org" >
<head th:include="fragment/head :: head">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .text-success {
            color: #4CAF50; /* Màu xanh lá cây */
        }

        .text-danger {
            color: #f44336; /* Màu đỏ */
        }
    </style>
</head>
<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main class="main-content" role="main">
        <div class="container mt-4">
            <form action="/admin/add-employee" method="post" th:object="${nhanVien}">
                <div class="row g-3">
                    <div class="col-3">
                        <label for="maNhanVien" class="form-label">Mã nhân viên:</label>
                        <input id="maNhanVien" name="maNhanVien" th:field="*{maNhanVien}"
                               type="text" class="form-control" >
                        <i th:errors="*{maNhanVien}" style="color: red"/>
                    </div>

                    <div class="col-3">
                        <label for="hoTen" class="form-label">Tên nhân viên:</label>
                        <input id="hoTen" name="hoTen" th:field="*{hoTen}"
                               type="text"  class="form-control" >
                        <i th:errors="*{hoTen}" style="color: red"/>
                    </div>

                    <div class="col-3">
                        <label for="ngaySinh" class="form-label">Ngày sinh:</label>
                        <input id="ngaySinh" name="ngaySinh" th:field="*{ngaySinh}"
                               type="text" class="form-control"  placeholder="yyyy-MM-dd">
                        <i th:errors="*{ngaySinh}" style="color: red"/>
                    </div>

                    <div class="col-3">
                        <label class="form-label">Giới tính:</label><br>
                        <div class="form-check form-check-inline">
                            <input  name="gioiTinh" type="radio" value="Nam" class="form-check-input" id="gioiTinhNam" checked>
                            <label for="gioiTinhNam" class="form-check-label">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="gioiTinh" type="radio" value="Nu" class="form-check-input" id="gioiTinhNu">
                            <label for="gioiTinhNu" class="form-check-label">Nữ</label>
                        </div>
                    </div>

                    <div class="col-3">
                        <label for="diaChi" class="form-label">Địa chỉ:</label>
                        <input  id="diaChi" name="diaChi" th:field="*{diaChi}"
                                type="text" class="form-control" >
                        <i th:errors="*{diaChi}" style="color: red"/>
                    </div>

                    <div class="col-3">
                        <label for="soDienThoai" class="form-label">Số điện thoại:</label>
                        <input id="soDienThoai" name="soDienThoai" th:field="*{soDienThoai}"
                               type="text" class="form-control" >
                        <i th:errors="*{soDienThoai}" style="color: red"/>
                    </div>

                    <div class="col-3">
                        <label for="luong" class="form-label">Lương:</label>
                        <input id="luong" name="luong" th:field="*{luong}"
                               type="text" class="form-control">
                        <i th:errors="*{luong}" style="color: red"/>
                    </div>

                    <div class="col-3">
                        <label class="form-label">Trạng thái:</label><br>
                        <div class="form-check form-check-inline">
                            <input name="trangThai" type="radio" value="true" class="form-check-input" id="trangThaiDangLam" checked>
                            <label for="trangThaiDangLam" class="form-check-label">Đang làm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="trangThai" type="radio" value="false" class="form-check-input" id="trangThaiDaNghi">
                            <label for="trangThaiDaNghi" class="form-check-label" >Đã nghỉ</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Thêm</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>