<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+D1qSAA5GFZqKKN16EMOZB+89TgYPd4bkD+BSR4" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>


        th {
            white-space: nowrap;
            text-align: center;
        }

        #form-add-employee .form-control {
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
        }

        #form-add-employee label {
            font-weight: bold;
        }

        #form-add-employee .modal-title {
            font-size: 24px;
            font-weight: bold;
        }

        #imgPreview {
            margin-top: 10px;
            border: 1px solid #ddd;
            padding: 5px;
            max-width: 100%;
            height: auto;
        }

        .preview img {
            max-height: 150px;
            object-fit: cover;
        }


    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <head th:include="fragment/head :: head"></head>

</head>
<body class="vertical light">
<div class="wrapper">
    <div th:include="fragment/navbar :: navbar"></div>
    <div th:include="fragment/sidebar :: sidebar"></div>
    <main role="main" class="main-content">
        <h1 class="text-center">Quản lý nhân viên</h1>

        <div class="card shadow container-sm">
            <div class="card-body">
                <div class="toolbar row mb-3 mt-3">
                    <div class="col-md-9">
                        <form class="form-inline" id="filterForm"
                              style="display: flex; align-items: center; justify-content: space-between; gap: 10px;">
                            <!-- Search -->
                            <div class="form-group" style="flex-grow: 1; display: flex; align-items: center;">
<!--                                <label class="mr-2" for="keyword">Tìm kiếm</label>-->
                                <input class="form-control" id="keyword" placeholder="Tìm kiếm theo mã hoặc tên"
                                       style="flex-grow: 1;" type="text" name="keyword"
                                       oninput="searchNhanVien(this.value)">
                            </div>

                            <!-- Reset Button -->
                            <div class="form-group" style="flex-grow: 1; display: flex; align-items: center;">
                                <button class="btn btn-primary" onclick="resetFilters()"
                                        style="width: 100px; margin-left: -150px;" type="button">Reset
                                </button>
                            </div>

                            <!-- Radio buttons for "Trạng thái" -->
                            <div class="form-group" style="flex-grow: 1; display: flex; align-items: center;">
                                <label class="form-label text-center" style="margin-right: 10px;">Trạng thái:</label>

                                <label for="detailDangLam" style="margin-right: 5px;">Đang làm</label>
                                <input type="radio" id="detailDangLam" name="trangThai" value="true"
                                       onchange="filterByTrangThai(true)"/>

                                <label for="detailDaNghi" style="margin-right: 5px;">Đã nghỉ</label>
                                <input type="radio" id="detailDaNghi" name="trangThai" value="false"
                                       onchange="filterByTrangThai(false)"/>
                            </div>

                            <!-- Add Button -->
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#formAdd">Thêm
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal add-->
        <div>
            <div class="modal fade" id="formAdd" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm nhân viên</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-4">
                                <img src="/img/logo.jpg" alt="Logo" width="100" height="100">
                            </div>

                            <form id="form-add-employee" enctype="multipart/form-data" th:action="@{/quan-ly-nhan-vien/add}" method="post" class="p-4 bg-light rounded shadow">
                                <input type="hidden" name="maNhanVien">
                                <input type="hidden" name="trangThai" value="true">
                                <div class="row g-3">
                                    <!-- Hàng 1: Tài khoản, Mật khẩu, Họ tên -->
                                    <input type="hidden" name="tenDangNhap" id="tenDangNhap" class="form-control">
                                    <input type="hidden" name="matKhau" id="matKhau" class="form-control">

                                    <div class="form-group col-md-4">
                                        <label for="hoTen" class="form-label"><i class="bi bi-person"></i> Họ tên</label>
                                        <input type="text" name="hoTen" id="hoTen" class="form-control" placeholder="Nhập họ tên">
                                    </div>

                                    <!-- Hàng 2: Số điện thoại, Email, Ngày sinh -->
                                    <div class="form-group col-md-4">
                                        <label for="soDienThoai" class="form-label"><i class="bi bi-telephone"></i> Số điện thoại</label>
                                        <input type="text" name="soDienThoai" id="soDienThoai" class="form-control" placeholder="Nhập số điện thoại">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email</label>
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Nhập email">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="ngaySinh" class="form-label"><i class="bi bi-calendar"></i> Ngày sinh</label>
                                        <input type="date" name="ngaySinh" id="ngaySinh" class="form-control">
                                    </div>

                                    <!-- Hàng 3: Tỉnh thành, Quận huyện, Phường xã -->
                                    <div class="form-group col-md-4">
                                        <label for="thanhPho" class="form-label"><i class="bi bi-map"></i> Tỉnh thành</label>
                                        <select id="thanhPho" class="form-control" name="thanhPho" required>
                                            <option value="" selected disabled>Chọn tỉnh thành</option>
                                            <!-- Các option của tỉnh thành -->
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="quanHuyen" class="form-label"><i class="bi bi-house"></i> Quận huyện</label>
                                        <select name="quanHuyen" id="quanHuyen" class="form-control district-select">
                                            <option value="" selected disabled>Chọn quận huyện</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="phuongXa" class="form-label"><i class="bi bi-house-fill"></i> Phường xã</label>
                                        <select name="phuongXa" id="phuongXa" class="form-control ward-select">
                                            <option value="" selected disabled>Chọn phường xã</option>
                                        </select>
                                    </div>

                                    <!-- Hàng 4: Giới tính -->
                                    <div class="col-md-4">
                                        <label class="form-label">Giới tính</label>
                                        <div>
                                            <input type="radio" name="gioiTinh" class="form-check-input" value="true" id="gioiTinhNam" checked>
                                            <label for="gioiTinhNam">Nam</label>
                                            <input type="radio" name="gioiTinh" class="form-check-input" value="false" id="gioiTinhNu">
                                            <label for="gioiTinhNu">Nữ</label>
                                        </div>
                                    </div>

                                    <!-- Hàng 5: Ảnh đại diện -->
                                    <div class="form-group col-md-4">
                                        <label for="img" class="form-label"><i class="bi bi-image"></i> Ảnh đại diện</label>
                                        <input type="file" name="img" id="img" class="form-control" accept="image/*" onchange="previewImage(event)">
                                        <div class="preview mt-3">
                                            <img id="imgPreview" src="#" alt="Ảnh xem trước" style="display: none; max-width: 100%; height: auto;">
                                            <div id="defaultImage" class="mt-2">
                                                <i class="bi bi-image" style="font-size: 50px; color: #6c757d;"></i>
                                                <p>Chưa có ảnh đại diện</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary">Thêm nhân viên</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal update-->
        <div>
            <div class="modal fade" id="formUpdate" tabindex="-1" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Sửa nhân viên</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-4">
                                <img src="/img/logo.jpg" alt="Logo" width="100" height="100">
                            </div>

                            <form id="form-update-employee" enctype="multipart/form-data" class="form-update-employee"
                                  th:action="@{/quan-ly-nhan-vien/update}"
                                  method="post">
                                <input type="hidden" name="idNhanVien" id="idNhanVienDetail">
                                <input type="hidden" name="maNhanVien" id="maNhanVienDetail">
                                <input type="hidden" name="tenDangNhap" id="tenDangNhapDetail">
                                <input type="hidden" name="matKhau" id="matKhauDetail">



                                <!-- Hàng 1: Họ tên, Số điện thoại, Email -->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="hoTenDetail"><i class="bi bi-person"></i> Họ tên</label>
                                        <input type="text" name="hoTen" id="hoTenDetail" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="soDienThoaiDetail"><i class="bi bi-telephone"></i> Số điện
                                            thoại</label>
                                        <input type="text" name="soDienThoai" id="soDienThoaiDetail"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="emailDetail"><i class="bi bi-envelope"></i> Email</label>
                                        <input type="email" name="email" id="emailDetail" class="form-control" required>
                                    </div>
                                </div>

                                <!-- Hàng 2: Ngày sinh, Giới tính, Trạng thái -->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="ngaySinhDetail"><i class="bi bi-calendar"></i> Ngày sinh</label>
                                        <input type="date" name="ngaySinh" id="ngaySinhDetail" class="form-control"
                                               required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Giới tính</label>
                                        <div>
                                            <input type="radio" name="gioiTinh" value="true" id="gioiTinhNamDetail"
                                                   required>
                                            <label for="gioiTinhNamDetail">Nam</label>
                                            <input type="radio" name="gioiTinh" value="false" id="gioiTinhNuDetail"
                                                   required>
                                            <label for="gioiTinhNuDetail">Nữ</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Trạng thái</label>
                                        <div>
                                            <input type="radio" name="trangThai" value="true"
                                                   id="trangThaiDangLamDetail" required>
                                            <label for="trangThaiDangLamDetail">Đang làm</label>
                                            <input type="radio" name="trangThai" value="false"
                                                   id="trangThaiDaNghiDetail" required>
                                            <label for="trangThaiDaNghiDetail">Đã nghỉ</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hàng 3: Tỉnh thành, Quận huyện, Phường xã -->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="thanhPhoDetail"><i class="bi bi-map"></i> Tỉnh thành</label>
                                        <select id="thanhPhoDetail" class="form-control" name="thanhPho" required>
                                            <option value="" disabled>Chọn tỉnh thành</option>
                                            <!-- Các option của tỉnh thành sẽ được thêm ở đây -->
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="quanHuyenDetail"><i class="bi bi-house"></i> Quận huyện</label>
                                        <select name="quanHuyen" id="quanHuyenDetail"
                                                class="form-control district-select" required>
                                            <option value="" disabled>Chọn quận huyện</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="phuongXaDetail"><i class="bi bi-house-fill"></i> Phường xã</label>
                                        <select name="phuongXa" id="phuongXaDetail" class="form-control ward-select"
                                                required>
                                            <option value="" disabled>Chọn phường xã</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Hàng 4: Ảnh đại diện -->
                                <div class="row">
                                    <div class="form-group col-md-4 text-center">
                                        <label for="imgDetail"><i class="bi bi-image"></i> Ảnh đại diện</label>
                                        <input type="file" name="img" id="imgDetail" class="form-control"
                                               accept="image/*"
                                               onchange="detailviewImage(event)">
                                        <div class="preview mt-3">
                                            <img id="imgPreviewDetail" src="#" alt="Ảnh xem trước"
                                                 style="display: none; max-width: 100%; height: auto;">
                                            <div id="defaultImageDetail" class="mt-2">
                                                <i class="bi bi-image" style="font-size: 50px; color: #6c757d;"></i>
                                                <p>Chưa có ảnh đại diện</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Sửa nhân viên</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                    </button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--danh sách nhân viên-->
        <div class="container py-4">
            <div>
                <table class="table table-hover table-bordered">
                    <thead >
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Ảnh</th>
                        <th class="text-center">Họ tên</th>
                        <th class="text-center">Ngày sinh</th>
                        <th class="text-center">Giới Tính</th>
                        <th class="text-center">Số điện thoại</th>
                        <th class="text-center">Địa chỉ</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                    </thead>

                    </thead>
                    <tbody id="employeeTableBody" >
                    <tr     th:each="nhanVien, i : ${nhanViens}"
                            data-bs-toggle="modal" data-bs-target="#formUpdate"
                            th:data-id="${nhanVien.idNhanVien}"
                            th:data-ma="${nhanVien.maNhanVien}"
                            th:data-img="${nhanVien.img}"
                            th:data-hoten="${nhanVien.hoTen}"
                            th:data-ngaysinh="${#dates.format(nhanVien.ngaySinh,'yyyy-MM-dd')}"
                            th:data-gioitinh="${nhanVien.gioiTinh}"
                            th:data-sodienthoai="${nhanVien.soDienThoai}"
                            th:data-email="${nhanVien.email}"
                            th:data-trangthai="${nhanVien.trangThai}"
                            th:data-thanhpho="${nhanVien.thanhPho}"
                            th:data-quanhuyen="${nhanVien.quanHuyen}"
                            th:data-phuongxa="${nhanVien.phuongXa}"
                            th:data-tendangnhap="${nhanVien.taiKhoanDTO != null ? nhanVien.taiKhoanDTO.tenDangNhap : 'Chưa có tài khoản'}"
                            th:data-matkhau="${nhanVien.taiKhoanDTO != null ? nhanVien.taiKhoanDTO.matKhau : 'Chưa có tài khoản'}"
                            onclick="showUpdate(this.getAttribute('data-id'),this.getAttribute('data-ma'),this.getAttribute('data-img'),this.getAttribute('data-hoten'),
    this.getAttribute('data-ngaysinh'),this.getAttribute('data-gioitinh'),this.getAttribute('data-sodienthoai'),
    this.getAttribute('data-email'),this.getAttribute('data-trangthai'),this.getAttribute('data-thanhpho'),
    this.getAttribute('data-quanhuyen'),this.getAttribute('data-phuongxa'), this.getAttribute('data-tendangnhap'), this.getAttribute('data-matkhau'))"
                    >

                        <td th:text="${i.count}" class="text-center"></td>
                        <td class="text-center">
                            <img th:src="${nhanVien.img}" alt="Ảnh đại diện"
                                 style="max-width: 100px; height: 80px; object-fit: cover; border-radius: 50%;">
                        </td>
                        <td th:text="${nhanVien.hoTen}" class="text-center"></td>
                        <td th:text="${#dates.format(nhanVien.ngaySinh,'dd/MM/yyyy')}" class="text-center"></td>
                        <td th:text="${nhanVien.gioiTinh ? 'Nam' : 'Nữ'}" class="text-center"></td>
                        <td th:text="${nhanVien.soDienThoai}" class="text-center"></td>
                        <td>
                            <span th:text="${nhanVien.phuongXa}"></span>
                            <span th:if="${nhanVien.phuongXa}">, </span>
                            <span th:text="${nhanVien.quanHuyen}"></span>
                            <span th:if="${nhanVien.quanHuyen}">, </span>
                            <span th:text="${nhanVien.thanhPho}"></span>
                        </td>
                        <td th:text="${nhanVien.email}" class="text-center"></td>
                        <td th:text="${nhanVien.trangThai ? 'Đang làm' : 'Đã nghỉ'}" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>

                <!--                //phân trang-->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <!-- Nút Trước -->
                        <li class="page-item" th:class="${currentPage == 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/quan-ly-nhan-vien(page=${currentPage - 1}, size=${size})}"
                               tabindex="-1">Previous</a>
                        </li>

                        <!-- Nút Trang Số -->
                        <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPages - 1)}"
                            th:if="${page >= currentPage - 1 && page <= currentPage + 2}" th:class="${page == currentPage} ? 'active'">
                            <a class="page-link" th:href="@{/quan-ly-nhan-vien(page=${page}, size=${size})}">[[${page + 1}]]</a>
                        </li>

                        <!-- Nút Sau -->
                        <li class="page-item" th:class="${currentPage == totalPages - 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/quan-ly-nhan-vien(page=${currentPage + 1}, size=${size})}">Next</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>


    </main>
    <div th:include="fragment/modal :: modal"></div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script>
    //add
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('form-add-employee').addEventListener('submit', function (event) {
            event.preventDefault();

            // Lấy các phần tử input từ form
            const tenDangNhapElement = document.getElementById('tenDangNhap');
            const matKhauElement = document.getElementById('matKhau');
            const hoTenElement = document.getElementById('hoTen');
            const soDienThoaiElement = document.getElementById('soDienThoai');
            const ngaySinhElement = document.getElementById('ngaySinh');
            const emailElement = document.getElementById('email');
            const thanhPhoElement = document.getElementById('thanhPho');
            const quanHuyenElement = document.getElementById('quanHuyen');
            const phuongXaElement = document.getElementById('phuongXa');
            const imgElement = document.getElementById('img');

            // Kiểm tra từng phần tử có tồn tại và không rỗng
            if (!hoTenElement.value.trim() ||
                !soDienThoaiElement.value.trim() || !ngaySinhElement.value.trim() || !emailElement.value.trim() ||
                !thanhPhoElement.value.trim() || !quanHuyenElement.value.trim() || !phuongXaElement.value.trim()) {
                showErrorToast('Vui lòng điền đầy đủ thông tin.');
                return;
            }

            // Kiểm tra họ tên
            const hoTenValue = hoTenElement.value.trim();

            if (!/^[\p{L} ]+$/u.test(hoTenValue)) {
                showErrorToast('Họ tên chỉ được phép chứa chữ cái.');
                return;
            }

            // Kiểm tra chiều dài của họ tên
            if (hoTenValue.length < 8 || hoTenValue.length > 50) {
                showErrorToast('Họ tên phải dài từ 8 đến 50 ký tự.');
                return;
            }


            // Kiểm tra số điện thoại
            const soDienThoai = soDienThoaiElement.value.trim();
            const phonePattern = /^(03|05|07|09|02)\d{8}$/;
            if (!phonePattern.test(soDienThoai)) {
                showErrorToast('Số điện thoại không đúng định dạng.');
                return;
            }

            // Kiểm tra email
            const email = emailElement.value.trim();
            const emailPattern = /^[a-zA-Z]{3,}.+$/;
            if (!emailPattern.test(email)) {
                showErrorToast('Email sai định dạng.');
                return;
            }

            const imgFile = imgElement.files[0]; // Lấy tệp hình ảnh đầu tiên
            if (imgFile) { // Kiểm tra nếu imgFile đã được chọn
                const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
                if (!allowedExtensions.exec(imgFile.name)) {
                    showErrorToast('Chỉ cho phép định dạng ảnh JPG, JPEG, PNG.');
                    return;
                }
                if (imgFile.size > 5 * 1024 * 1024) { // Giới hạn 5MB
                    showErrorToast('Kích thước ảnh vượt quá 5MB.');
                    return;
                }
            } else {
                showErrorToast('Vui lòng chọn ảnh đại diện.');
                return;
            }


            const formElement = document.getElementById('form-add-employee');
            const form = new FormData(formElement);

            fetch('/quan-ly-nhan-vien/add', {
                method: 'POST',
                body: form,
            })
                .then(response => {
                    // if (!response.ok) {
                    //     throw new Error('HTTP status:' + response.status);
                    // }
                    return response.json();
                })
                .then(data => {
                    // Xử lý kết quả thành công
                    console.log(data.content);
                    if (data.success) {
                        alert('Thêm nhân viên thành công!');
                        // Có thể cập nhật giao diện, ví dụ như reset form hoặc chuyển trang
                        $('#formAdd').modal('hide');
                        formElement.reset();
                        location.reload();
                        // updateTable(data);
                    } else if (data.error) {
                        // Hiển thị thông báo lỗi từ backend
                        showErrorToast(data.error);
                    }
                })
                .catch(error => {
                    // Xử lý khi có lỗi xảy ra
                    showErrorToast('Đã có lỗi xảy ra: ' + error.message);
                    console.log(error.message);
                });
        });
    });

    //detail
    function showUpdate(id, maNhanVien, img, hoTen, ngaySinh,
                        gioiTinh, soDienThoai, email, trangThai, thanhPho, quanHuyen, phuongXa,tenDangNhap,matKhau)
    {

        // Lấy các phần tử của form
        const form = document.getElementById('form-update-employee');
        const idNhanVien = form.querySelector('input[id="idNhanVienDetail"]');
        const maNhanVienInput = form.querySelector('input[name="maNhanVien"]');
        const hoTenInput = form.querySelector('input[name="hoTen"]');
        const ngaySinhInput = form.querySelector('input[id="ngaySinhDetail"]');
        const gioiTinhNamCheck = form.querySelector('input[id="gioiTinhNamDetail"]');
        const gioiTinhNuCheck = form.querySelector('input[id="gioiTinhNuDetail"]');
        const soDienThoaiInput = form.querySelector('input[name="soDienThoai"]');
        const emailInput = form.querySelector('input[name="email"]');
        const trangThaiDangLamCheck = form.querySelector('input[id="trangThaiDangLamDetail"]');
        const trangThaiDaNghiCheck = form.querySelector('input[id="trangThaiDaNghiDetail"]');
        const thanhPhoSelect = form.querySelector('select[id="thanhPhoDetail"]');
        const quanHuyenSelect = form.querySelector('select[id="quanHuyenDetail"]');
        const phuongXaSelect = form.querySelector('select[id="phuongXaDetail"]');
        const tenDangNhapInput = form.querySelector('input[id="tenDangNhapDetail"]');
        const matKhauInput = form.querySelector('input[id="matKhauDetail"]');

        // Gán giá trị vào các input của form
        idNhanVien.value = id;
        maNhanVienInput.value = maNhanVien;
        hoTenInput.value = hoTen;
        ngaySinhInput.value = ngaySinh;
        soDienThoaiInput.value = soDienThoai;
        emailInput.value = email;

        console.log(id);
        console.log(ngaySinh);
        // Giới tính
        gioiTinhNamCheck.checked = (gioiTinh === "true");
        gioiTinhNuCheck.checked = (gioiTinh === "false");

        // Trạng thái
        trangThaiDangLamCheck.checked = (trangThai === "true");
        trangThaiDaNghiCheck.checked = (trangThai === "false");

        // Set tỉnh thành, quận huyện, phường xã
        thanhPhoSelect.value = thanhPho; // Gán giá trị tỉnh thành hiện tại
        thanhPhoSelect.dispatchEvent(new Event('change')); // Kích hoạt sự kiện change để load quận huyện

        // Đợi một chút để quận huyện được cập nhật trước khi gán giá trị
        setTimeout(() => {
            quanHuyenSelect.value = quanHuyen; // Gán giá trị quận huyện hiện tại
            quanHuyenSelect.dispatchEvent(new Event('change')); // Kích hoạt sự kiện change để load phường xã

            // Đợi thêm một chút để phường xã được cập nhật trước khi gán giá trị
            setTimeout(() => {
                phuongXaSelect.value = phuongXa; // Gán giá trị phường xã hiện tại
            }, 100); // Thời gian chờ có thể điều chỉnh tùy theo tốc độ tải dữ liệu
        }, 100); // Thời gian chờ có thể điều chỉnh tùy theo tốc độ tải dữ liệu

        // Kiểm tra xem tài khoản có tồn tại không
        if (tenDangNhap === 'Chưa có tài khoản') {
            tenDangNhapInput.value = ''; // Hoặc gán giá trị mặc định khác
            matKhauInput.value = ''; // Hoặc gán giá trị mặc định khác
        } else {
            tenDangNhapInput.value = tenDangNhap;
            matKhauInput.value = matKhau;
        }

        // Ảnh đại diện
        const imgPreview = document.getElementById('imgPreviewDetail');
        const imgInput = document.getElementById('imgDetail'); // Lấy input imgDetail
        imgPreview.setAttribute('data-old-img', img); // Lưu đường dẫn cũ

        if (img) {
            imgPreview.src = img; // Hiển thị ảnh
            imgPreview.style.display = 'block';
            imgInput.value = img; // Xóa giá trị trong input khi mở modal
            document.getElementById('defaultImageDetail').style.display = 'none';
        } else {
            imgPreview.style.display = 'none';
            imgInput.value = ''; // Đảm bảo không có giá trị nào trong input
            document.getElementById('defaultImageDetail').style.display = 'block';
        }
    }

    //update
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('form-update-employee').addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn hành vi gửi biểu mẫu mặc định

            // Lấy các phần tử input từ form
            const tenDangNhapElement = document.getElementById('tenDangNhapDetail');
            const matKhauElement = document.getElementById('matKhauDetail');
            const hoTenElement = document.getElementById('hoTenDetail');
            const soDienThoaiElement = document.getElementById('soDienThoaiDetail');
            const ngaySinhElement = document.getElementById('ngaySinhDetail');
            const emailElement = document.getElementById('emailDetail');
            const thanhPhoElement = document.getElementById('thanhPhoDetail');
            const quanHuyenElement = document.getElementById('quanHuyenDetail');
            const phuongXaElement = document.getElementById('phuongXaDetail');
            const imgElement = document.getElementById('imgDetail');

            // Kiểm tra từng phần tử có tồn tại và không rỗng
            if (!hoTenElement.value.trim() ||
                !soDienThoaiElement.value.trim() || !ngaySinhElement.value.trim() || !emailElement.value.trim() ||
                !thanhPhoElement.value.trim() || !quanHuyenElement.value.trim() || !phuongXaElement.value.trim()) {
                showErrorToast('Vui lòng điền đầy đủ thông tin.');
                return;
            }

            // Kiểm tra họ tên
            const hoTenValue = hoTenElement.value.trim();

            if (!/^[\p{L} ]+$/u.test(hoTenValue)) {
                showErrorToast('Họ tên chỉ được phép chứa chữ cái.');
                return;
            }

            // Kiểm tra chiều dài của họ tên
            if (hoTenValue.length < 8 || hoTenValue.length > 50) {
                showErrorToast('Họ tên phải dài từ 8 đến 50 ký tự.');
                return;
            }


            // Kiểm tra số điện thoại
            const soDienThoai = soDienThoaiElement.value.trim();
            const phonePattern = /^(03|05|07|09|02)\d{8}$/;
            if (!phonePattern.test(soDienThoai)) {
                showErrorToast('Số điện thoại không đúng định dạng.');
                return;
            }

            // Kiểm tra email
            const email = emailElement.value.trim();
            const emailPattern = /^[a-zA-Z]{3,}.+$/;
            if (!emailPattern.test(email)) {
                showErrorToast('Email sai định dạng.');
                return;
            }

            // const imgFile = imgElement.files[0]; // Lấy tệp hình ảnh đầu tiên
            // if (imgFile) { // Kiểm tra nếu imgFile đã được chọn
            //     const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            //     if (!allowedExtensions.exec(imgFile.name)) {
            //         showErrorToast('Chỉ cho phép định dạng ảnh JPG, JPEG, PNG.');
            //         return;
            //     }
            //     if (imgFile.size > 5 * 1024 * 1024) { // Giới hạn 5MB
            //         showErrorToast('Kích thước ảnh vượt quá 5MB.');
            //         return;
            //     }
            // } else {
            //     showErrorToast('Vui lòng chọn ảnh đại diện.');
            //     return;
            // }


            // Lấy đối tượng FormData từ biểu mẫu
            const form = document.getElementById('form-update-employee');
            const formData = new FormData(form);



            // Gửi yêu cầu AJAX đến API cập nhật nhân viên
            fetch('/quan-ly-nhan-vien/update', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    // Kiểm tra trạng thái phản hồi
                    console.log('Response status:', response.status); // Log trạng thái phản hồi
                    return response.text().then(text => {
                        console.log('Response text:', text); // Log nội dung phản hồi
                        if (!response.ok) {
                            throw new Error(text || 'Có lỗi xảy ra'); // Ném lỗi nếu không thành công
                        }
                        return JSON.parse(text); // Phân tích cú pháp JSON nếu thành công
                    });
                })
                .then(data => {
                    // Hiển thị thông báo khi cập nhật thành công
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Cập nhật thành công!',
                        showConfirmButton: false,
                        timer: 2500,
                        toast: true
                    });
                    form.reset();

                    // Tải lại trang sau khi cập nhật thành công
                    setTimeout(function() {
                        location.reload(); // Tải lại toàn bộ trang sau khi thông báo đóng
                    }, 1500); // Đợi 1 giây trước khi tải lại trang
                })
                .catch(error => {
                    console.error('Lỗi:', error.message); // Ghi log lỗi
                    showErrorToast(error.message || 'Có lỗi xảy ra');
                });
        });
    });



    // Hàm để cập nhật danh sách nhân viên
    function updateTable(data) {
        const tableBody = document.getElementById('employeeTableBody');
        tableBody.innerHTML = ''; // Xóa nội dung cũ

        data.forEach(function (nhanVien, index) {
            const row = `
            <tr>
                <td class="text-center">${index + 1}</td>
                <td class="text-center">
                    <img src="${nhanVien.img}"
                         alt="Ảnh đại diện"
                         style="max-width: 100px; height: 80px; object-fit: cover; border-radius: 50%;">
                </td>
                <td class="text-center">${nhanVien.hoTen || 'Chưa có tên'}</td>
                <td class="text-center">${nhanVien.ngaySinh ? new Date(nhanVien.ngaySinh).toLocaleDateString('vi-VN') : 'Chưa có ngày sinh'}</td>
                <td class="text-center">${nhanVien.gioiTinh ? 'Nam' : 'Nữ'}</td>
                <td class="text-center">${nhanVien.soDienThoai || 'Chưa có số điện thoại'}</td>
                <td>${nhanVien.phuongXa ? nhanVien.phuongXa + ', ' : ''}${nhanVien.quanHuyen ? nhanVien.quanHuyen + ', ' : ''}${nhanVien.thanhPho || 'Chưa có địa chỉ'}</td>
                <td class="text-center">${nhanVien.email || 'Chưa có email'}</td>
                <td class="text-center">${nhanVien.trangThai ? 'Đang làm' : 'Đã nghỉ'}</td>
            </tr>`;
            tableBody.innerHTML += row; // Thêm hàng vào bảng
        });
    }


    //filter trạng thái
    function filterByTrangThai(trangThai) {
        // Khai báo giá trị page và size. Bạn có thể thay đổi theo logic của mình.
        const page = 0; // Trang mặc định hoặc lấy từ input của người dùng nếu cần
        const size = 5; // Kích thước mặc định hoặc thay đổi tùy ý

        fetch(`/quan-ly-nhan-vien/filter?trangThai=${trangThai}&page=${page}&size=${size}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                // Xử lý kết quả trả về, ví dụ cập nhật bảng hiển thị nhân viên
                console.log('trả về:' + data);
                updateTable(data.content);
            })
            .catch(error => console.error('Error:', error));
    }


    async function searchNhanVien() {
        const searchQuery = document.getElementById('keyword').value.trim();

        if (!searchQuery) {
            console.log('Vui lòng nhập từ khóa tìm kiếm');
            return;
        }

        // Khai báo giá trị page và size. Bạn có thể thay đổi theo logic của mình.
        const page = 0; // Trang mặc định hoặc lấy từ input của người dùng nếu cần
        const size = 5; // Kích thước mặc định hoặc thay đổi tùy ý

        console.log(searchQuery);
        try {
            const response = await fetch(`/quan-ly-nhan-vien/search?keyword=${encodeURIComponent(searchQuery)}&page=${page}&size=${size}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            const data = await response.json();
            updateTable(data.content);
        } catch (error) {
            console.log('Error fetching search results:' + error);
            alert('Không thể tìm kiếm vui lòng thử lại sau.');
        }
    }

    // Bắt sự kiện input của ô tìm kiếm
    document.getElementById('keyword').addEventListener('input', function (event) {
        event.preventDefault();
        searchNhanVien();
    });

    function resetFilters() {
        // Reset lại form
        location.reload();
    }


    //hiển thị ảnh
    function previewImage(event) {
        const input = event.target;
        const imgPreview = document.getElementById("imgPreview");
        const defaultImage = document.getElementById("defaultImage");

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file.type.split('/')[0];

            // Kiểm tra xem file có phải là hình ảnh không
            if (fileType === 'image') {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                    imgPreview.style.display = "block";
                    defaultImage.style.display = "none"; // Ẩn thông báo mặc định
                };
                reader.readAsDataURL(file);
            } else {
                alert("Vui lòng chọn một hình ảnh hợp lệ.");
                imgPreview.style.display = "none";
                defaultImage.style.display = "block"; // Hiển thị lại thông báo mặc định
            }
        } else {
            // Nếu không có file nào được chọn, hiển thị lại thông báo mặc định
            imgPreview.style.display = "none";
            defaultImage.style.display = "block";
        }
    }

    function detailviewImage(event) {
        const input = event.target;
        const imgPreview = document.getElementById("imgPreviewDetail");
        const defaultImage = document.getElementById("defaultImageDetail");

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const fileType = file.type.split('/')[0];

            // Kiểm tra xem file có phải là hình ảnh không
            if (fileType === 'image') {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                    imgPreview.style.display = "block";
                    defaultImage.style.display = "none"; // Ẩn thông báo mặc định
                };
                reader.readAsDataURL(file);
            } else {
                alert("Vui lòng chọn một hình ảnh hợp lệ.");
                imgPreview.style.display = "none";
                defaultImage.style.display = "block"; // Hiển thị lại thông báo mặc định
            }
        } else {
            // Nếu không có file nào được chọn, hiển thị lại thông báo mặc định
            imgPreview.style.display = "none";
            defaultImage.style.display = "block";
        }
    }

    function showSuccessToast(message) {
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            style: {
                background: "#4CAF50" // Sử dụng style.background thay cho backgroundColor
            },
            stopOnFocus: true
        }).showToast();
    }

    // Hàm hiển thị toast thông báo khi lỗi
    function showErrorToast(message) {
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            style: {
                background: "#f44336" // Sử dụng style.background thay cho backgroundColor
            },
            stopOnFocus: true
        }).showToast();
    }


    // map địa chỉ
    document.addEventListener("DOMContentLoaded", function () {
        var citis = document.getElementById('thanhPho');
        var districts = document.getElementById('quanHuyen');
        var wards = document.getElementById('phuongXa');

        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };

        axios(Parameter).then(function (result) {
            renderCity(result.data);
        });

        function renderCity(data) {
            for (const x of data) {
                var opt = document.createElement('option');
                opt.value = x.Name;
                opt.text = x.Name;
                opt.setAttribute('data-id', x.Id);
                citis.options.add(opt);
            }

            citis.onchange = function () {
                districts.length = 1;
                wards.length = 1;
                if (this.options[this.selectedIndex].dataset.id !== "") {
                    const result = data.filter(n => n.Id === this.options[this.selectedIndex].dataset.id);

                    for (const k of result[0].Districts) {
                        var opt = document.createElement('option');
                        opt.value = k.Name;
                        opt.text = k.Name;
                        opt.setAttribute('data-id', k.Id);
                        districts.options.add(opt);
                    }
                }
            };

            districts.onchange = function () {
                wards.length = 1;
                const dataCity = data.filter((n) => n.Id === citis.options[citis.selectedIndex].dataset.id);
                if (this.options[this.selectedIndex].dataset.id !== "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.options[this.selectedIndex].dataset.id)[0].Wards;

                    for (const w of dataWards) {
                        var opt = document.createElement('option');
                        opt.value = w.Name;
                        opt.text = w.Name;
                        opt.setAttribute('data-id', w.Id);
                        wards.options.add(opt);
                    }
                }
            };
        }
    });


    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("#form-update-employee");
        var citis1 = form.querySelector('#thanhPhoDetail');
        var districts1 = form.querySelector('#quanHuyenDetail');
        var wards1 = form.querySelector('#phuongXaDetail');

        // Lấy dữ liệu địa lý từ API
        var Parameter1 = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };

        axios(Parameter1).then(function (result) {
            renderCity(result.data);
        }).catch(function (error) {
            console.error("Error fetching data:", error);
        });

        function renderCity(data) {
            // Thêm các tỉnh thành vào dropdown
            data.forEach(function (city) {
                var opt = document.createElement('option');
                opt.value = city.Name;
                opt.text = city.Name;
                opt.setAttribute('data-id', city.Id);
                citis1.options.add(opt);
            });

            // Sự kiện thay đổi cho dropdown tỉnh thành
            citis1.onchange = function () {
                districts1.length = 1; // Reset quận huyện
                wards1.length = 1; // Reset phường xã
                const selectedCityId = this.options[this.selectedIndex].getAttribute('data-id');

                if (selectedCityId) {
                    const city = data.find(n => n.Id === selectedCityId);

                    if (city && city.Districts) {
                        city.Districts.forEach(function (district) {
                            var opt = document.createElement('option');
                            opt.value = district.Name;
                            opt.text = district.Name;
                            opt.setAttribute('data-id', district.Id);
                            districts1.options.add(opt);
                        });
                    }
                }
            };

            // Sự kiện thay đổi cho dropdown quận huyện
            districts1.onchange = function () {
                wards1.length = 1; // Reset phường xã
                const selectedCityId = citis1.options[citis1.selectedIndex].getAttribute('data-id');
                const selectedDistrictId = this.options[this.selectedIndex].getAttribute('data-id');

                if (selectedCityId && selectedDistrictId) {
                    const city = data.find(n => n.Id === selectedCityId);

                    if (city && city.Districts) {
                        const district = city.Districts.find(n => n.Id === selectedDistrictId);

                        if (district && district.Wards) {
                            district.Wards.forEach(function (ward) {
                                var opt = document.createElement('option');
                                opt.value = ward.Name;
                                opt.text = ward.Name;
                                opt.setAttribute('data-id', ward.Id);
                                wards1.options.add(opt);
                            });
                        }
                    }
                }
            };
        }
    });
</script>
</body>
<script th:include="fragment/script :: script"></script>
</html>